@import "tailwindcss";

@theme {
  /* Deshabilitamos todos los colores predeterminados */
  --color-*: initial;

  /* Paleta personalizada */
  --color-primary: #2D3540;
  --color-light: #F2F2F2;
  --color-accent: #7ED1F2;
  --color-info: #04B2D9;
  --color-success: #74BF04;
}

/* Utilidades personalizadas opcionales */
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-light {
  color: var(--color-light);
}

.bg-light {
  background-color: var(--color-light);
}

.text-accent {
  color: var(--color-accent);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-info {
  color: var(--color-info);
}

.bg-info {
  background-color: var(--color-info);
}

.text-success {
  color: var(--color-success);
}

.bg-success {
  background-color: var(--color-success);
}


@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.4s ease-out;
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-slide-out {
  animation: slide-out 0.4s ease-in forwards;
}
